asgiref==3.4.1
backports.zoneinfo==0.2.1
boto3==1.20.27
botocore==1.23.27
certifi==2021.10.8
charset-normalizer==2.0.10
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.0.2
django-import-export==2.7.1
django-light==0.1.0.post3
django-storages==1.12.3
django-tinymce==3.4.0
et-xmlfile==1.1.0
idna==3.3
jmespath==0.10.0
lxml==4.7.1
MarkupPy==1.14
mysqlclient==2.1.0
numpy==1.22.1
odfpy==1.4.1
openpyxl==3.0.9
pandas==1.4.0
python-dateutil==2.8.2
pytrends==4.7.3
pytz==2021.3
PyYAML==6.0
requests==2.27.1
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
tablib==3.1.0
urllib3==1.26.7
xlrd==2.0.1
xlwt==1.3.0
